<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</head>

<nav class="navbar navbar-light bg-light">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" th:text="${Hello.nameuser}">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="/logout">Выйти</a></li>
        </ul>
    </nav>
    <div class="text-center">
        <form class="d-flex" th:method="POST" th:action="@{/search}" th:object="${Search}">
            <input class="text-dark form-control me-4 " type="text" placeholder="Найти заметку" aria-label="Search" th:field="*{searchNote}">
            <button class="btn btn-outline-primary" type="submit">Поиск</button>
        </form>
    </div>
</nav>




<div class = "container p-3">
    <ul class="nav nav-tabs">
        <div class = "container p-3">
            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a class="nav-link "  href="/index">заметки</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="#">поиск</a>
                </li>
    </ul>

            <div class="modal-body">
                <div class="row w-100 p-3 mx-auto">
                    <div class="mb-3">
                        <label class="form-label">Тема заметки </label>
                        <input type="text"  class="form-control" th:value="${NoteEntity.head}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Текст заметки </label>
                        <input type="text"  class="form-control" th:value="${NoteEntity.body}">

                    </div>
                </div>
                <div class="text-center">
                </div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>