<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Delete book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1 class="text-center">Удаление книг</h1>
<div class="row w-25 p-3 mx-auto">
    <table class="table">
        <thead>
        <tr class="text-center">
            <th></th>
            <th>Название</th>
            <th>Автор</th>
            <th>Год издания</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="book: ${books}" class="text-center">
            <td><a th:href="@{/book/deleteBook?id={bookId}(bookId=${book.id})}" class="btn btn-outline-secondary" for="btn-check-2-outlined">Удалить</a></td>
            <td th:text="${book.Name}"></td>
            <td th:text="${book.Author}"></td>
            <td th:text="${book.Year}"></td>
        </tr>

        </tbody>
    </table>
    <a href="/book" class="btn btn-outline-secondary" for="btn-check-2-outlined">Назад</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>